html, body {
  width: 100%;
  height: 100%;
  font-family: Cairo;
}


/* This is needed by HighlightJS to preserve line breaks in <pre> blocks */
#suneditorPrint > pre.HLJS,
#suneditorPreview > pre.HLJS,
#divViewer > pre.HLJS {
  white-space: pre-wrap !important;
  color: #d3d0c8 !important;
  background: #2d2d2d !important;
  border-radius: var(--bs-border-radius) !important;
  padding: 8px;
}
button > pre.HLJS {
  color: #d3d0c8 !important;
  background: #2d2d2d !important;
  border-radius: var(--bs-border-radius) !important;
}
/* hide the stuff that is added by the PrismJS CSS classes */
pre.HLJS[class*=language-]:after, pre.HLJS[class*=language-]:before {
  display: none;
}
/* Spans need to be wrapped? */
#suneditorPrint > pre.HLJS > span,
#suneditorPreview > pre.HLJS > span,
#divViewer > pre.HLJS > span {
  white-space: pre-wrap !important;
}



/* This is needed by PrismJS to preserve line breaks in <pre> blocks */
#suneditorPrint > pre.PRISM,
#suneditorPreview > pre.PRISM,
#divViewer > div > pre.PRISM {
  white-space: pre-wrap !important;
  overflow: visible;
}
#suneditorPrint > pre.PRISM > code,
#suneditorPreview > pre.PRISM > code,
#divViewer > div > pre.PRISM > code {
  white-space: pre-wrap !important;
  overflow: visible;
}
button > pre.PRISM {
  color: blue !important;
  background: white !important;
  border-radius: var(--bs-border-radius) !important;
}


/* CSS resize corners are terrible.  Let's create our own.
** We'll use these with Interact.js to make certain elements
** resizable as an alternative to using TWebSplitter controls */
.ResizeElement {
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 26px;
  height: 31px;
  background-color: var(--bs-dark);
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  z-index: 1;
}
.InnerTriangle1 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 25px;
  height: 30px;
  background-color: var(--bs-info);
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}
.InnerTriangle2 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 26px;
  height: 20px;
  background-color: var(--bs-secondary);
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

/* Resizable components */
#divDocumentsHolder {
  min-width: 150px;
  max-width: 600px;
}



/* Sometimes Bootstrap just isn't precise enough */
#divMain {
  gap: 2px;
}



/* PageControl and flex need a little working over */
#pageControlMain {
  position: relative !important;
  top: 0px !important;
  left: 0px !important;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  order: 1;
  overflow: hidden;
}



/* Tabulator overrides */

/* get rid of default border */
#divDocuments {
  border: none !important;
}

/* default background where no data is visible
** adjust height to deal with smaller footer */
#divDocuments > div.tabulator-tableholder {
  background-color: var(--bs-secondary);
  height: calc(100% - 30px) !important;
  max-height: calc(100% - 30px) !important;
}

/* slim down the group headers */
div.tabulator-row.tabulator-group {
  padding: 3px 5px 3px 5px;
}

/* shrink the footer a little, prevent clicking on it */
div.tabulator-footer {
  height: 30px !important;
  pointer-events: none;
}

/* get rid of border at bottom of footers */
.tabulator-calcs-holder {
  border-bottom: 0px !important;
}

/* get rid of right borders at right edge of tables */
#divDocuments > div.tabulator-footer > div.tabulator-calcs-holder > div > div,
#divDocuments > div.tabulator-tableholder > div > div:nth-child(4) > div {
  border-right: 0px;
}



/* SunEditor overrides */

/* just say no to random borders */
div.sun-editor {
  border: 0;
  background-color: var(--bs-dark);
  font-family: "Cairo" !important;
}

/* Let's use this as the default starting font */
div.sun-editor-editable {
  font-family: "Cairo" !important;
}

/* Save button - Enabled vs. Disabled */
button.se-btn:enabled > span.HTMLSave { opacity:1; color: var(--bs-success) !important; }
button.se-btn:disabled > span.HTMLSave { opacity:0.5; color: var(--bs-secondary) !important; }

/* fill the available space with the editor, make sure it is scrollable */
#divContentHolder {
  border: none;
  outline: none;
  height: 100% !important;
  width: 100% !important;
  white-space: normal;
  overflow: auto;
}
div > div.se-wrapper > div.se-wrapper-inner.se-wrapper-wysiwyg.sun-editor-editable,
div > div.se-wrapper {
  height: 100% !important;
}
#suneditor_divContentText {
  width: 100%;
  height: 100%;
}
div > div.se-wrapper > div.CodeMirror.cm-s-default.CodeMirror-wrap.se-wrapper-code-mirror {
  height: 100% !important;
}

/* Toolbar */
#divContentHeader > div {
  background-color: var(--bs-secondary);
  border-bottom: 1px solid var(--bs-dark);
}
div > div.se-toolbar.sun-editor-common > div.se-btn-tray {
  white-space: normal;
  padding: 2px 2px 0px 2px;
}
.sun-editor .se-btn {
  float: left !important;
  width: 25px !important;
  height: 24px !important;
  border: 0 !important;
  border-radius: 6px !important;
  margin: 1px !important;
  padding: 2px !important;
  font-size: 14px !important;
  line-height: 21px !important;
}
.sun-editor .se-btn-module-border {
  background-color: var(--bs-white);
  border: 1px solid var(--bs-dark);
  border-radius: 6px !important;
  margin-bottom: -3px;
  margin-right: 4px;
}

/* Font options need a little extra TLC */
.sun-editor button .txt {
  margin-right: 10px;
}
.sun-editor .se-btn-select.se-btn-tool-font {
  font-size: 12px !important;
  font-family: Roboto;
  width: auto !important;
  min-width: 75px;
  padding: 3px 5px 3px 5px !important;
  border-radius: 4px !important;
}
.sun-editor .se-btn-select.se-btn-tool-size {
  font-size: 12px !important;
  font-family: Roboto;
  width: auto !important;
  min-width: 75px;
  padding: 3px 5px 3px 5px !important;
  border-radius: 4px !important;
}
.sun-editor .se-btn-select.se-btn-tool-format {
  font-size: 12px !important;
  font-family: Roboto;
  width: auto !important;
  min-width: 100px;
  padding: 3px 5px 3px 5px !important;
  border-radius: 4px !important;
}
.sun-editor .se-btn:enabled.on,
.sun-editor .se-btn:enabled:hover {
  border-radius: 4px !important;
}

/* Footer */
#divContentFooter > div {
  font-size: 12px !important;
  color: var(--bs-white) !important;
  display: flex;
  background-color: var(--bs-secondary);
  border-top: 1px solid var(--bs-dark);
  height: 20px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  overflow: hidden !important;
}
div  > div > div.se-char-counter-wrapper {
  position: absolute;
  font-size: 12px !important;
  color: var(--bs-white) !important;
  right: 10px;
}
div > div > div.se-char-counter-wrapper > span.se-char-label {
  margin-right: 8px;
}
div > div > div.se-navigation.sun-editor-common {
  font-size: 12px !important;
  color: var(--bs-white) !important;
}


